
@{
    ViewData["Title"] = "solicitarRecuperacionPassword";
    var mensajeErrorEmail = ViewData["MensajeErrorMail"] as string;
    var contraseñaModificadaError = ViewData["ContraseñaModificadaError"] as string;
    var mensajeErrorTokenValidez = ViewData["MensajeErrorTokenValidez"] as string;
    var mensajeErrorTokenExpirado = ViewData["MensajeErrorTokenExpirado"] as string;
    var error = ViewData["error"] as string;
}
@model Banco.DTO.UsuarioDTO

<div class="container py-4">
    <div class="container py-4">
        <div class="card bg-light p-4">
            <form class="custom-form" asp-action="ProcesarInicioRecuperacion" method="post">
                <h2 class="text-center mb-4">Solicitar recuperación de contraseña</h2>
                <div class="mb-4">
                    <label for="email" class="form-label textoPrincipal">Correo electrónico</label>
                    <input type="email" name="EmailUsuario" class="form-control" id="email" placeholder="Introduzca su correo electrónico" required autofocus />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Solicitar contraseña</button>
                </div>
                
            </form>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(contraseñaModificadaError))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ha ocurrido un error al reestablecer la contraseña", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeErrorEmail))
    {
        <script>
            mostrarNotificacion("¡Cuenta de correo electrónico no encontrada!", "Se ha producido un error en el proceso de recuperación, por favor revise la información ingresada.", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeErrorTokenValidez))
    {
        <script>
            mostrarNotificacion("¡El enlace no es válido!", "Si necesita restablecer su contraseña, inicie el proceso de recuperación de nuevo", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeErrorTokenExpirado))
    {
        <script>
            mostrarNotificacion("¡El enlace ha caducado!", "Por favor, vuelva iniciar el proceso de solicitar la recuperación de contraseña", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(error))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
        </script>
    }
</div>


